body {
    /*background: #708090;*/
	background: #778899;
	/*background: #D3D3D3;*/
	border: 5px ridge #CCC;
	margin: 10px;
}


h1 {
    font-family: Comic Sans MS, Helvetica, Arial, Sans-serif; 
    font-size: 78px;
	text-align: center;
	color: #CCC;
	padding: 0;
	margin: 0;
}


#memory_board {
    position: relative;
	background: #CCC;
	border: purple 3px solid;
	width: 790px;
	height: 535px;
	padding: 24px;
	margin: 20px auto 50px;
	z-index: 1;
}


.cards {
    position: relative;
    /*border: #000 1px solid;*/
	border-radius: 7px;
	width:71px;
	height:71px;
	float:left;
	margin:10px;
	padding:20px;
	text-align: center;
	transition: -ms-transform 5s linear 0s; /* 5s for the animation to occur, linear 0s, means it will animate in a linear fashion */
	transition: -webkit-transform 5s linear 0s; 
	transition: -moz-transform 5s linear 0s; 
	transition: -o-transform 5s linear 0s; 
	transition: transform 5s linear 0s;
	z-index: 1;
}

#front_0, #front_1, #front_2, #front_3, #front_4, #front_5, #front_6, #front_7, #front_8, #front_9, #front_10, #front_11, #front_12, 
#front_13, #front_14, #front_15, #front_16, #front_17, #front_18, #front_19, #front_20, #front_21, #front_22, #front_23 {
    position: absolute;   /* so they can stack in the order as is listed in the below <div> sections  */
	top: 0px;
	left: 0px;
	-ms-transform: perspective( 600px ) rotateY( 0deg ); 
	-webkit-transform: perspective( 600px ) rotateY( 0deg ); 
	-moz-transform: perspective( 600px ) rotateY( 0deg ); 
	-o-transform: perspective( 600px ) rotateY( 0deg ); 
	transform: perspective( 600px ) rotateY( 0deg );  /* 600px gives it a nice perspective, a lower # will seem warped */
	background: url(../img/amethyst_image.jpg); width: 115px; height: 115px; border-radius: 7px;
	backface-visibility: hidden;  /* can't see the back side of elements as they turn */
	z-index: 1;
}


#back_0, #back_1, #back_2, #back_3, #back_4, #back_5, #back_6, #back_7, #back_8, #back_9, #back_10, #back_11, #back_12, 
#back_13, #back_14, #back_15, #back_16, #back_17, #back_18, #back_19, #back_20, #back_21, #back_22, #back_23 {
    position: absolute; 
    top: 0px;
	left: 0px;
	-ms-transform: perspective( 600px ) rotateY( 180deg ); 
	-webkit-transform: perspective( 600px ) rotateY( 180deg ); 
	-moz-transform: perspective( 600px ) rotateY( 180deg ); 
	-o-transform: perspective( 600px ) rotateY( 180deg ); 
	transform: perspective( 600px ) rotateY( 180deg );
	background: #80BFFF; width:115px; height:115px; border-radius: 7px;
	backface-visibility: hidden;
	font-size: 98px;
	cursor: pointer;
	text-align: center;
	font-weight: bold;
	z-index: 1;
}


.show #winner_container #memory_board { 
    position: absolute;
    width: 800px;
    height: 150px;
	margin: 250px auto;
	z-index: 10;
}


.hide#winner_container { 
    position: absolute;
	top: 295px;
	left: 160px;
    width: 800px;
    height: 150px;
	margin: 50px auto;
	z-index: 10;
	visibility: hidden;
}


#winner_container {
    animation: flash_color linear 5s infinite;
}


#winner {
   	font-size: 72px;
    padding-top: 10px;
	margin: auto;
    text-align: center;
	z-index: 20;
}	


.flashIt {
    animation: flash linear 5s infinite;
}

   
@-webkit-keyframes flash_color {  
    0% { opacity: 1; background: yellow; }
	25% { opacity: 0.5; background: blue; }
	50% { opacity: 1; background: red; }
	75% { opacity: 0.5; background: green; }
	100% { opacity: 1; background: white; }
}

		
@keyframes flash_color {     
	0% { opacity: 1; background: yellow; }
	25% { opacity: 0.5; background: blue; }
	50% { opacity: 1; background: red; }
	75% { opacity: 0.5; background: green; }
	100% { opacity: 1; background: white; }
}

	   
@-webkit-keyframes flash {  
	0% { opacity: 1; color: blue; }
	25% { opacity: 0.5; color: red; }
	50% { opacity: 1; color: green; }
	75% { opacity: 0.5; color: fuchsia; }
	100% { opacity: 1; color: purple; }
}	

	
@keyframes flash {     
	0% { opacity: 1; color: blue; }
	25% { opacity: 0.5; color: red; }
	50% { opacity: 1; color: green; }
	75% { opacity: 0.5; color: fuchsia; }
	100% { opacity: 1; color: purple; }
}
